.interest-grid {
  width: 100%;
}

.interest-table {
  width: 275px;
  margin: 0 auto;
}

.interest-table-col-header {
  text-align: center;
  font-size: 12px;
  width: 45px;
  height: 45px;
  border-bottom: 2px solid transparent;
}

.interest-table-col-header.interested {
  color: green;
  border-bottom: 2px solid green;
}

.interest-table-cell {
  padding:2px;
  margin:0px;
  width: 45px;
  height: 45px;
}

.interest-table-cell.interest-table-hidden * {
  visibility: hidden;
}

.interest-table-row {
  padding:0;
  margin:0;
}

.interest-table-row-header {
  text-align: right;
  font-size: 12px;
  padding-right: 3px;
}

.interest-btn {
  border: 1px solid #cccccc;
  background-color: transparent;
  border-radius: 0;
  font-size: 11px;
  width: 45px;
  height: 45px;
  font-weight: bold;
}

.interest-btn:focus {
  outline: none;
  box-shadow: none;
}

.interest-btn-0 {
  background-color: transparent;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='red' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='red' stroke-width='1'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
}

.interest-btn-1 {
  background-color: #DDDDDD;
}

.interest-btn-2 {
  background-color: #AAAAAA;
}

.interest-btn-3 {
  background-color: #777777;
  color: white;
}

.interest-btn-3:focus {
  color: white;
}

.interest-btn-4 {
  background-color: green;
  color: white;
}

.interest-btn-4:focus {
  color: white;
}